main{
  width: 70%;
  margin: auto;
  display: block;
}


.Caractéristiques_simple{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 50px;
  max-width: 1300px;

}

.Caractéristiques_simple ul li {
    list-style: none;
    font-family: "SF Pro Display Light", sans-serif;
    max-width: 500px;
}

.h3_photo_HomePod{
  height: 70%;
  width: 40%;
  margin-left: 25px;
}

h2+p {
  font-size: 150%;
}


.Button_acheter{
display: block;
width: 120px;
height: 32px;
text-align: center;
vertical-align: middle;
background: linear-gradient(#42a1ec, #0070c9);
border: white;
border-radius: 4px;
}
.Button_acheter:hover{
  background: linear-gradient(#0070c9, #42a1ec);
}

.Button_acheter a {
  color: white;
  text-decoration: none;
  font-family: "SF Pro Display Light", sans-serif;
}

.Afficher_more a{
  margin-left: 40px;
}

.titre_2{
  margin-left: 30px;
  font-size: 300%;
}

.Caractéristiques_tech{
  padding-top: 50px;
  height: 500px;
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
}

.Caractéristiques_tech ul li {
  list-style: none;
  line-height: 25px;
}

.Caractéristiques_tech ul{
  padding-top: 25px;
}

.ul_photo_HomePod{
  height: 100%;
  width: 50%;
  margin-left: 20px;
}

video{
  height: 600px;
  width: 1000px;
}

div>h2{
  font-size: 300%;
}

.img_video{
  text-align: center;
  width: 100%;
}

.video_div{
  width: 100%;
  display: flex;
  justify-content: center;
}

#toggle{
  height:auto;
  margin:1em;
  text-align:center;
  display: flex;
  justify-content: center;
 }

#toggle p {
  text-align:center;
  padding:0
}

#toggle ul li {
  list-style: none;
}

.toggle_p_1{
width: 300px;
line-height: 150%;
}

.toggle_p_2{
width: 300px;
line-height: 150%;
}

.toggle_p_3{
  line-height: 120%;
}

.button_affichez{

}

.button_affichez a{

}



/*Responsive caractéristiques*/
@media all and (min-width: 1281px) and (max-width: 1580px){

  .Caractéristiques_simple{
    display: flex;
    flex-direction: column;
  }
  .Caractéristiques_tech{
    display: flex;
    flex-direction: column;
    height: 150%;
  }
  .img_video{
    display: flex;
    flex-direction: column;
  }
  video{
    width: 100%;
    height: 100%;
  }
  .h3_photo_HomePod{
    height: 50%;
    width: 50%;
  }
  .ul_photo_HomePod{
    height: 50%;
    width: 50%;
  }
}



@media all and (min-width: 1024px) and (max-width: 1280px) {
  .Caractéristiques_simple{
    display: flex;
    flex-direction: column;
  }
  .Caractéristiques_tech{
    display: flex;
    flex-direction: column;
    height: 150%;
  }
  .img_video{
    display: flex;
    flex-direction: column;
  }
  video{
    width: 100%;
  }
  .h3_photo_HomePod {
    height: 50%;
    width:50%;
  }
  .ul_photo_HomePod{
    height: 50%;
    width: 50%;
  }
}

@media all and (min-width: 800px) and (max-width: 1023px) {
  .Caractéristiques_simple{
    display: flex;
    flex-direction: column;
  }
  .Caractéristiques_tech{
    display: flex;
    flex-direction: column;
    height: 150%;
  }
  .img_video{
    display: flex;
    flex-direction: column;
  }
  video{
    width: 100%;
    height: 100%;
  }
  .h3_photo_HomePod{
    height: 50%;
    width: 50%;
  }
  .ul_photo_HomePod{
    height: 50%;
    width: 50%;
  }
}

@media all and (min-width: 550px) and (max-width: 799px) {
  .Caractéristiques_simple{
    display: flex;
    flex-direction: column;
  }
  .Caractéristiques_tech{
    display: flex;
    flex-direction: column;
    height: 150%;
  }
  .img_video{
    display: flex;
    flex-direction: column;
  }
  video{
    width: 100%;
    height: 100%;
  }

  .h3_photo_HomePod{
    height: 50%;
    width: 50%;
  }
  .ul_photo_HomePod{
    height: 65%;
    width: 65%;
  }


@media all and (min-width: 250px) and (max-width: 549px) {
  .Caractéristiques_simple{
    display: flex;
    flex-direction: column;
  }
  .Caractéristiques_tech{
    display: flex;
    flex-direction: column;
    height: 150%;
  }
  .img_video{
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  video{
    width: 100%;
    height: 100%;
  }

  .h3_photo_HomePod{
    height: 30%;
    width: 30%;
  }
  .ul_photo_HomePod{
    height: 30%;
    width: 30%;
  }
}

@media all and (min-width: 1px) and (max-width: 249px) {
  .Caractéristiques_simple{
    display: flex;
    flex-direction: column;
  }
  .Caractéristiques_tech{
    display: flex;
    flex-direction: column;
    height: 150%;
  }
  .img_video{
    display: flex;
    flex-direction: column;
  }
  video{
    width: 100%;
    height: 100%;
  }

  .h3_photo_HomePod{
    height: 60%;
    width: 60%;
  }
  .ul_photo_HomePod{
    height: 60%;
    width: 60%;

  }
}
